@model IEnumerable<FKRM.Application.ViewModels.SchoolViewModel>

<table id="schoolTable" class="table table-sm table-dashboard data-table no-wrap mb-0 fs--1 w-100">
    <thead class="bg-200">
        <tr>
            <th class="sort">
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Feature)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.OUType)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.ParentSchool)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var school in Model)
        {
        <tr>
            <td>
                @school.District
            </td>
            <td>
                @school.Name
            </td>
            <th>
                @school.Code
            </th>
            <th>
                @school.Branch
            </th>
            <th>
                @school.Gender
            </th>
            <th>
                @school.Feature
            </th>
            <th>
                @school.UnitType
            </th>
            <th>
                @school.OUType
            </th>
            <th>
                @school.ParentSchool
            </th>
            <td>
                @school.AddedDate
            </td>
            <td>
                @school.ModifiedDate
            </td>
            <td class="align-middle white-space-nowrap">
                <div class="dropdown text-sans-serif">
                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button" id="dropdown0"
                            data-toggle="dropdown" data-boundary="html" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-ellipsis-h fs--1"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="dropdown0">
                        <div class="bg-white py-2">
                            <a onclick="jQueryModalGet('/school/OnGetCreateOrEdit?id=@school.Id','ویرایش اطلاعات مدرسه')"
                               class="dropdown-item"><i class="fas fa-pencil-alt"></i>  ویرایش</a>
                            <div class="dropdown-divider"></div>
                            <form id="form_delete_@school.Id" asp-controller="School" method="post"
                                  asp-action="OnPostDelete" asp-route-id="@school.Id" onsubmit="return jQueryModalDelete(this)">
                                <a href="javascript:$('#form_delete_@school.Id').submit();" class="dropdown-item text-danger"><i class="fas fa-trash-alt"></i>  حذف</a>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#schoolTable").DataTable();
    });
</script>
