@model IEnumerable<UserRolesViewModel>
<table id="userTable" class="table table-hover table-sm table-striped data-table no-wrap mb-0 fs--1 w-100">
    <thead class="bg-200">
        <tr>
            <th class="sort">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="sort">
                نقش ها
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var user in Model)
        {
            <tr class="hover-actions-trigger hover-shadow">
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    @if (user.IsActive)
                    {
                        <span class="badge badge-success">فعال</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">غیرفعال</span>
                    }
                </td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <div class="btn-group btn-group-sm hover-actions r-0" role="group">
                        <form id="form_active_@user.Id" asp-controller="UserRoles" method="post"
                              asp-action="OnPostActive" asp-route-id="@user.Id" onsubmit="return jQueryModalActive(this)">
                            <a href="javascript:$('#form_active_@user.Id').submit();" data-placement="top" class="btn btn-light">
                                <i class="fas fa-user-slash"></i>
                            </a>
                        </form>
                        <a class="btn btn-light" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.Id"><span class="fas fa-user-shield"></span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="bg-200">
        <tr>
            <th class="sort">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="sort">
                نقش ها
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function () {
        $("#userTable").DataTable({
            responsive: true,
            "order": [[0, "asc"]]
        });
    });
</script>
