@model List<ManageUserRolesViewModel>

<div class="card mb-3">
    <form method="post">
        <div class="card-header">
            <div class="row align-items-center justify-content-between">
                <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">مدیریت نقش های کاربر / @ViewBag.UserName</h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-light px-0">

            <div class="row">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-10">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input asp-for="@Model[i].Selected" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="@Model[i].Selected">
                                @Model[i].RoleName
                            </label>
                        </div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>

        </div>
        <div class="card-footer">
            <input type="submit" value="بروزرسانی" class="btn btn-primary" style="width:auto" />
            <a asp-action="Index" class="btn btn-primary" style="width:auto">انصراف</a>
        </div>
    </form>
</div>
