@model IEnumerable<BranchViewModel>
<table id="branchTable" class="table table-hover table-sm table-striped data-table no-wrap mb-0 fs--1 w-100">
    <thead class="bg-200">
        <tr>
            <th class="align-middle sort text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var branch in Model)
        {
            <tr class="hover-actions-trigger hover-shadow">
                <td class="py-2 align-middle white-space-nowrap">
                    @branch.Name
                </td>
                <td>
                    @branch.AddedDate
                </td>
                <td>
                    @branch.ModifiedDate
                </td>
                <td class="py-2 align-middle white-space-nowrap">
                    <div class="dropdown text-sans-serif">
                        <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                                id="order-dropdown-1" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="order-dropdown-1">
                            <div class="bg-white py-2">
                                <a class="dropdown-item" onclick="jQueryModalGet('/branch/OnGetCreateOrEdit?id=@branch.Id','ویرایش اطلاعات شاخه')">ویرایش</a>
                                <div class="dropdown-divider"></div>
                                <form id="form_delete_@branch.Id" asp-controller="Branch" method="post"
                                      asp-action="OnPostDelete" asp-route-id="@branch.Id" onsubmit="return jQueryModalDelete(this)">
                                    <a href="javascript:$('#form_delete_@branch.Id').submit();" class="dropdown-item text-danger">
                                        حذف
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="bg-200">
        <tr>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function () {
        $("#branchTable").DataTable({
            responsive: true,
            "order": [[0, "asc"]],
            columnDefs: [
                {
                    "targets": [1, 2],
                    "visible": false
                }
            ],
        });
    });
</script>
