@model IEnumerable<FKRM.Application.ViewModels.BranchViewModel>
<table id="branchTable" class="table table-hover table-sm table-striped data-table no-wrap mb-0 fs--1 w-100">
    <thead class="bg-200">
        <tr>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var branch in Model)
        {
            <tr class="hover-actions-trigger hover-shadow">
                <td>
                    @branch.Name
                </td>
                <td>
                    @branch.AddedDate
                </td>
                <td>
                    @branch.ModifiedDate
                </td>
                <td>
                    <div class="btn-group btn-group-sm hover-actions r-0" role="group">

                        <form id="form_delete_@branch.Id" asp-controller="Branch" method="post"
                              asp-action="OnPostDelete" asp-route-id="@branch.Id" onsubmit="return jQueryModalDelete(this)">
                            <a href="javascript:$('#form_delete_@branch.Id').submit();" data-placement="top" class="btn btn-light">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </form>

                        <button class="btn btn-light" onclick="jQueryModalGet('/branch/OnGetCreateOrEdit?id=@branch.Id','ویرایش اطلاعات شاخه')"
                                type="button" data-placement="top" title="ویرایش">
                            <span class="fas fa-edit"></span>
                        </button>
                        <a class="btn btn-light"  title="Snooze"><span class="fas fa-clock"></span></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="bg-200">
        <tr>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function () {
        $("#branchTable").DataTable({
            responsive: true,
            "order": [[0, "asc"]],
            columnDefs: [
                {
                    "targets": [1, 2],
                    "visible": false
                }
            ],
        });
    });
</script>
