@model IEnumerable<FKRM.Application.ViewModels.CourseViewModel>

<table id="courseTable" class="table table-sm table-dashboard data-table no-wrap mb-0 fs--1 w-100">
    <thead class="bg-200">
        <tr>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.PassMark)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.PracticalWeeklyHours)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.TheoreticalWeeklyHours)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.MarkingType)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th class="sort">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">

        @foreach (var course in Model)
        {
        <tr>
            <td>
                @course.Name
            </td>
            <td>
                @course.Code
            </td>
            <td>
                @course.Credits
            </td>
            <td>
                @course.PassMark
            </td>
            <td>
                @course.PracticalWeeklyHours
            </td>
            <td>
                @course.TheoreticalWeeklyHours
            </td>
            <td>
                @course.Branch
            </td>
            <td>
                @course.Area
            </td>
            <td>
                @course.Group
            </td>
            <td>
                @course.Major
            </td>
            <td>
                @course.Grade
            </td>
            <td>
                @course.MarkingType
            </td>
            <td>
                @course.AddedDate
            </td>
            <td>
                @course.ModifiedDate
            </td>

            <td class="align-middle white-space-nowrap">
                <div class="dropdown text-sans-serif">
                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button" id="dropdown0"
                            data-toggle="dropdown" data-boundary="html" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-ellipsis-h fs--1"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="dropdown0">
                        <div class="bg-white py-2">
                            <a onclick="jQueryModalGet('/course/OnGetCreateOrEdit?id=@course.Id','ویرایش اطلاعات پرسنل')"
                               class="dropdown-item"><i class="fas fa-pencil-alt"></i>  ویرایش</a>
                            <div class="dropdown-divider"></div>
                            <form id="form_delete_@course.Id" asp-controller="Course" method="post"
                                  asp-action="OnPostDelete" asp-route-id="@course.Id" onsubmit="return jQueryModalDelete(this)">
                                <a href="javascript:$('#form_delete_@course.Id').submit();" class="dropdown-item text-danger"><i class="fas fa-trash-alt"></i>  حذف</a>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#courseTable").DataTable({
            order: [[4, 'asc'], [5, 'asc'], [6, 'asc'], [7, 'asc'], [0, 'asc']],
            columnDefs: [
                {
                    "targets": [10, 11],
                    "visible": false
                }
            ]
        });
    });
</script>
