@model StaffViewModel
<div class="card mb-3">
    <div class="card-header position-relative min-vh-25 mb-7">
        <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url(../img/generic/4.jpg);"></div>
        <div class="avatar avatar-5xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" src="~/img/team/profile.jpg" width="200" alt="" /></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <h4 class="mb-1"> @Model.FirstName @Model.LastName<small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="right" title="Verified" data-fa-transform="shrink-4 down-2"></small></h4>
                <h5 class="fs-0 font-weight-normal">@Model.School</h5>
                <p class="text-500">@Model.JobTitle</p>
                <hr class="border-dashed my-4 d-lg-none" />
                <p class="text-500">@Model.Bio</p>
            </div>
            <div class="col pl-2 pl-lg-3">
                <p>
                    <span class="fas fa-phone-square-alt"></span> @Model.Phone
                </p>
                <p>
                    <span class="fas fa-mobile-alt"></span> @Model.Mobile
                </p>
                <p>
                    <span class="fas fa-birthday-cake"></span> @Model.BirthDate <span>-</span>@Model.Age
                </p>
                <p>
                    <span class="fas fa-hourglass-start"></span> @Model.HiringDate
                </p>
                <p>
                    <span class="fas fa-address-card"></span> @Model.Email
                </p>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead class="bg-200 text-900">
                    <tr>
                        <th scope="col">
                            مقطع تحصیلی
                        </th>
                        <th scope="col">
                            مدرک تحصیلی
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    @foreach (var stb in Model.staffEducationalBackgrounds)
                    { 
                    <tr>
                        <td class="align-middle">
                            @stb.AcademicDegree
                        </td>
                        <td class="align-middle">
                            @stb.AcademicMajor
                        </td>
                        <td>
                            <form id="form_delete_@stb.Id" asp-controller="StaffEducationalBackground" method="post"
                                  asp-action="OnPostDelete" asp-route-id="@stb.Id" onsubmit="return jQueryModalDelete(this)">
                                <a href="javascript:$('#form_delete_@stb.Id').submit();" class="dropdown-item text-danger">
                                    حذف
                                </a>
                            </form>
                        </td>
                    </tr>
                        }
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">بازگشت</button>
    </div>
</div>